{% extends 'layouts/master.html' %}
{% load static %}

{% block title %}
	403
{% endblock %}


{% block content %}


            <!-- Content Wrapper Start -->
            <div class="content-wrapper">

                <!-- Error  Section start -->
                <div class="error-wrap ptb-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <div class="error-content">

                                    <img src="{% static 'app/assets/img/403.jpg'%}" alt="Image">
{#                                    <h1 class="text-black-50" style="font-size: 300px">403</h1>#}
                                    <h2>Oops! ({{ request.path }}) Page Forbidden</h2>
                                    <p>The page ({{ request.path }}) is forbidden</p>
                                    <a class="btn style1" href={% url 'home' %} >Back To Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Error  Section end -->

            </div>
            <!-- Content wrapper end -->
{% endblock %}