{% extends 'layouts/master.html' %}
{% load static %}

{% block title %}
	404
{% endblock %}


{% block content %}


            <!-- Content Wrapper Start -->
            <div class="content-wrapper">

                <!-- Error  Section start -->
                <div class="error-wrap ptb-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <div class="error-content">


                                    <h1 class="text-black-50" style="font-size: 300px">404</h1>
                                    <img src="{% static 'app/assets/img/404.jpg' %}" alt="Image">
                                    <h2>Oops! ({{ request.path }}) Page Not Found</h2>
                                    <p>The page ({{ request.path }}) you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
                                    <a href={% url 'home' %} class="btn style1">Back To Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Error  Section end -->

            </div>
            <!-- Content wrapper end -->
{% endblock %}
