{% extends 'layouts/master.html' %}
{% include "base_template.html" %}
{% load crispy_forms_filters %}

{% block title %}
    Add Donor
{% endblock %}

{% block content  %}
    <div class="content-wrapper">
 {% include "navbar.html" %}
    <div class="container d-flex vh=100 justify_content-center align-items-center">
        <div class="content text-center">
            <h1 class="text-black-50" align-items-center style="font-size:300px">404</h1>
            <P>The page ({{ request.path }}) you're looking for is not available</P>
            <a href="{% url "member" %}" class="btn btn-dark rounded-0">Go to Add Member page</a>
        </div>
    </div>
</div>

{% endblock %}