{% extends 'layouts/master.html' %}
{% load static %}

{% load static %}


{% block title %}
	blog
{% endblock %}


{% block content %}
            <!-- Content Wrapper Start -->
            <div class="content-wrapper">

                <!-- Breadcrumb Start -->
                <div class="breadcrumb-wrap bg-f br-1">
                    <div class="container">
                        <div class="breadcrumb-title">
                            <h2>Blog Details No Sidebar</h2>
                            <ul class="breadcrumb-menu list-style">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="blog-no-sidebar.html">Blog</a></li>
                                <li>Blog Details No Sidebar</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Breadcrumb End -->

                <!-- Blog Details Section Start -->
                <div class="blog-details-wrap ptb-100">
                    <div class="container">
                        <div class="row gx-5">
                            <div class="col-xl-10 offset-xl-1 col-lg-12">
                                <article>
                                    <a class="post-img" data-fancybox="gallery" href="assets/img/blog/single-blog-1.jpg">
                                        <img src="assets/img/blog/single-blog-1.jpg" alt="Image">
                                    </a>
                                    <h1>Massive Changes In Landscape &amp; Wildlife</h1>
                                    <ul class="post-metainfo  list-style">
                                        <li><i class="ri-calendar-todo-line"></i>Jul 25, 2022</li>
                                    </ul>
                                    <div class="post-para">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt labore et dolore sitor magna aliqua. Quis ipsum suspendisse ultrices <strong>gravida</strong>. Risus commodo viverra manas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <p>No sea takimata sanctus est Lorem <a href="index.html">Ipsum</a> dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore consect etur adicing elit.</p>
                                        <blockquote class="wp-block-quote">
                                            <p>“We denounce with righteous indignation and dislike men who are so beguidemralized by the charms of pleasure of the moment, so blinded by desire, that they cannot”</p>
                                        </blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt labore et dolore sitor magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra manas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <h3>Effect Of Defroestation On Our Environment</h3>
                                        <ol>
                                            <li>Lacus sed viverra tellus in hac habitasse platea dictumst.</li>
                                            <li>Gravida neque convallis a <strong>cras</strong> semper auctor neque vitae.</li>
                                            <li>Lacus sed turpis tincidunt id aliquet risus feugiat in.</li>
                                            <li>Risus commodo viverra manas accumsan lacus vel facilisis</li>
                                        </ol>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a class="post-img" data-fancybox="gallery" href="assets/img/blog/single-blog-2.jpg">
                                                    <img src="assets/img/blog/single-blog-2.jpg" alt="Image">
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <a class="post-img" data-fancybox="gallery" href="assets/img/blog/single-blog-3.jpg">
                                                    <img src="assets/img/blog/single-blog-3.jpg" alt="Image">
                                                </a>
                                            </div>
                                        </div>
                                        <h3>What Health Issues Arise For Climate Change</h3>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore dolore magna aliquyam erat, sed diam voluptua at vero amet dolor sit consect.Consectetur adipisicing elit. Laboriosam in culpa dolorem. Eos sint aut suscipit.</p>
                                        <ul class="content-feature-list style1 list-style mt-15">
                                            <li><i class="ri-checkbox-circle-line"></i>
                                                Lorem ipsum dolor, sit amet.
                                            </li>
                                            <li><i class="ri-checkbox-circle-line"></i>
                                                Amet consectetur adipisicing elit Officia.
                                            </li>
                                            <li><i class="ri-checkbox-circle-line"></i>
                                                Aquaerat ipsa quis possimus.
                                            </li>
                                            <li><i class="ri-checkbox-circle-line"></i>
                                                Lorem aquaerat ipsa quis possimus.
                                            </li>
                                            <li><i class="ri-checkbox-circle-line"></i>
                                                 Consectetur Amet adipisicing elit Officia.
                                            </li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod tempor quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in <a href="index.html">sed</a> uia non numquam eius modi tempora incidunt ut labore dolor.</p>
                                    </div>
                                </article>
                                <div class="post-meta-option">
                                    <div class="row gx-0 align-items-center">
                                        <div class="col-md-5 col-12">
                                            <div class="post-share w-100">
                                                <span>Share:</span>
                                                <ul class="social-profile list-style style3">
                                                    <li>
                                                        <a href="https://facebook.com">
                                                            <i class="ri-facebook-fill"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com">
                                                            <i class="ri-twitter-fill"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://linkedin.com">
                                                            <i class="ri-linkedin-fill"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://pinterest.com">
                                                            <i class="ri-pinterest-line"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-12 text-md-end">
                                            <div class="post-tag">
                                                <span>Tags:</span>
                                                <ul class="tag-list list-style">
                                                    <li><a href="posts-by-tag.html">Pollution</a></li>
                                                    <li><a href="posts-by-tag.html">Climate</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-author">
                                    <div class="post-author-img">
                                        <img src="assets/img/blog/author-1.jpg" alt="Image">
                                    </div>
                                    <div class="post-author-info">
                                        <h4>Posted by<a href="posts-by-author.html"> David Warner</a></h4>
                                        <p>Claritas est etiam amet sinicus, qui sequitur lorem ipsum semet coui lectorum. Lorem ipsum dolor voluptatem corporis blanditiis sadipscing elitr sed diam nonumy eirmod amet sit lorem.</p>
                                        <ul class="social-profile list-style style3">
                                            <li>
                                                <a href="https://facebook.com">
                                                    <i class="ri-facebook-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com">
                                                    <i class="ri-twitter-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://linkedin.com">
                                                    <i class="ri-linkedin-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://pinterest.com">
                                                    <i class="ri-pinterest-line"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="comment-box-title">
                                    <h4><span>3</span> Comments</h4>
                                </div>
                                <div class="comment-item-wrap">
                                    <div class="comment-item">
                                        <div class="comment-author-img">
                                            <img src="assets/img/blog/author-5.jpg" alt="mage">
                                        </div>
                                        <div class="comment-author-wrap">
                                            <div class="comment-author-info">
                                                <div class="comment-author-name">
                                                    <h5>Richard Archis<span class="comment-date">Jul 22, 2022</span></h5>
                                                </div>
                                                <p class="comment-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                                sed diam nonumy eirmod  tempor invidunt ut labore et dolore
                                                magna aliquyam erat.
                                                </p>
                                                <a href="blog-details-no-sidebar.html#cmt-form" class="reply-btn">REPLY</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-item reply">
                                        <div class="comment-author-img">
                                            <img src="assets/img/blog/author-6.jpg" alt="mage">
                                        </div>
                                        <div class="comment-author-wrap">
                                            <div class="comment-author-info">
                                                <div class="comment-author-name">
                                                    <h5>Everly Leah<span class="comment-date">Jul 18, 2022</span></h5>
                                                </div>
                                                <p class="comment-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                                sed diam nonumy eirmod  tempor invidunt ut labore et dolore
                                                magna aliquyam erat.
                                                </p>
                                                <a href="blog-details-no-sidebar.html#cmt-form" class="reply-btn">REPLY</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-item">
                                        <div class="comment-author-img">
                                            <img src="assets/img/blog/author-2.jpg" alt="mage">
                                        </div>
                                        <div class="comment-author-wrap">
                                            <div class="comment-author-info">
                                                <div class="comment-author-name">
                                                    <h5>Sophia Isabel<span class="comment-date">Jul 15, 2022</span></h5>
                                                </div>
                                                <p class="comment-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                                sed diam nonumy eirmod  tempor invidunt ut labore et dolore
                                                magna aliquyam erat.
                                                </p>
                                                <a href="blog-details-no-sidebar.html#cmt-form" class="reply-btn">REPLY</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="cmt-form">
                                    <div class="comment-box-title">
                                        <h4>Leave A Comment</h4>
                                        <p>Your email address will not be published. Required fields are marked.</p>
                                    </div>
                                    <form action="blog-details-no-sidebar.html#" class="comment-form">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <textarea name="messages" id="messages" cols="30" rows="10" placeholder="Write Your Comment Here"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" name="name" id="name" required placeholder="Name*">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="email" name="email" id="email" required placeholder="Email Address*">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <input type="url" name="website" id="website" placeholder="Website">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-md-12">
                                                <div class="form-check checkbox style2">
                                                    <input class="form-check-input" type="checkbox" id="test_2"
                                                    >
                                                    <label class="form-check-label" for="test_2">
                                                        Save my name, email, &amp; website in this browser for the next time I commnet.
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button class="btn style1">Post A Comment</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Blog Details Section End -->

            </div>
            <!-- Content wrapper end -->

        <!-- Page Wrapper End -->
     {% endblock %}