{% extends 'layouts/master.html' %}
{% load static %}

{% load static %}


{% block title %}
	blog
{% endblock %}


{% block content %}

            <!-- Content Wrapper Start -->
            <div class="content-wrapper">

                <!-- Breadcrumb Start -->
                <div class="breadcrumb-wrap bg-f br-1">
                    <div class="container">
                        <div class="breadcrumb-title">
                            <h2>Blogs</h2>
                            <ul class="breadcrumb-menu list-style">
                                <li><a href="{%url 'home' %}">Home</a></li>
                                <li>Blogs</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Breadcrumb End -->

                <!-- Blog Details Section Start -->
                <div class="blog-details-wrap ptb-100">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="blog-card style1">
                                    <div class="blog-info">
                                        <div class="blog-author">
                                            <div class="blog-author-img">
                                                <img src="{% static 'app/assets/img/blog/author-1.jpg' %}" alt="Image">
                                            </div>
                                            <div class="blog-author-info">
                                                <span>Posted By</span>
                                                <h6><a href="{% url 'blog-details-no-sidebar' %}">David Warner</a></h6>
                                            </div>
                                        </div>
                                        <h3><a href="{% url 'blog-details-no-sidebar' %}">Changes In Landscapes And Wildlife Community</a></h3>
<p>Explore the dynamic shifts in landscapes and wildlife communities, discovering the intricate balance that shapes our natural world.</p>
 <ul class="blog-metainfo list-style">
                                            <li><a href="{% url 'blog-details-no-sidebar' %}"><i class="ri-calendar-todo-line"></i>Jul 22, 2022</a></li>
                                        </ul>
                                    </div>
                                    <a href="{% url 'blog-details-no-sidebar' %}" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="blog-card style1">
                                    <div class="blog-info">
                                        <div class="blog-author">
                                            <div class="blog-author-img">
                                                <img src="{% static 'app/assets/img/blog/author-7.jpg' %}" alt="Image">
                                            </div>
                                            <div class="blog-author-info">
                                                <span>Posted By</span>
                                                <h6><a href="{% url 'blog-details-no-sidebar' %}">Morgan Stanly</a></h6>
                                            </div>
                                        </div>
                                      <h3><a href="{% url 'blog-details-no-sidebar' %}">Let’s Take Care of Nature for The Sake of The Earth</a></h3>
<p>Embrace the responsibility to nurture our planet. Join us in safeguarding nature for the well-being of the Earth and future generations.</p>
 <ul class="blog-metainfo list-style">
                                            <li><a href="{% url 'blog-details-no-sidebar' %}"><i class="ri-calendar-todo-line"></i>Jul 17, 2022</a></li>
                                        </ul>
                                    </div>
                                    <a href="{% url 'blog-details-no-sidebar' %}" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="blog-card style1">
                                    <div class="blog-info">
                                        <div class="blog-author">
                                            <div class="blog-author-img">
                                                <img src="{% static 'app/assets/img/blog/author-3.jpg' %}" alt="Image">
                                            </div>
                                            <div class="blog-author-info">
                                                <span>Posted By</span>
                                                <h6><a href="{% url 'blog-details-no-sidebar' %}">Michel Hudson</a></h6>
                                            </div>
                                        </div>
                                        <h3><a href="{% url 'blog-details-no-sidebar' %}">Increasing Risk Of Storms, Droughts and Floods</a></h3>
<p>Explore the growing threats posed by storms, droughts, and floods, understanding the urgent need for proactive climate action and resilience.</p>
 <ul class="blog-metainfo list-style">
                                            <li><a href="{% url 'blog-details-no-sidebar' %}"><i class="ri-calendar-todo-line"></i>Jul 13, 2022</a></li>
                                        </ul>
                                    </div>
                                    <a href="{% url 'blog-details-no-sidebar' %}" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="blog-card style1">
                                    <div class="blog-info">
                                        <div class="blog-author">
                                            <div class="blog-author-img">
                                                <img src="{% static 'app/assets/img/blog/author-4.jpg' %}" alt="Image">
                                            </div>
                                            <div class="blog-author-info">
                                                <span>Posted By</span>
                                                <h6><a href="{% url 'blog-details-no-sidebar' %}">Lisa Margaret</a></h6>
                                            </div>
                                        </div>
                                       <h3><a href="{% url 'blog-details-no-sidebar' %}">Seven Things Nobody Told You About Water Pollution</a></h3>
<p>Uncover the hidden truths about water pollution that are often overlooked, gaining insights into the challenges and solutions for a cleaner, healthier environment.</p>
 <ul class="blog-metainfo list-style">
                                            <li><a href="{% url 'blog-details-no-sidebar' %}"><i class="ri-calendar-todo-line"></i>Jun 12, 2022</a></li>
                                        </ul>
                                    </div>
                                    <a href="{% url 'blog-details-no-sidebar' %}" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="blog-card style1">
                                    <div class="blog-info">
                                        <div class="blog-author">
                                            <div class="blog-author-img">
                                                <img src="{% static 'app/assets/img/blog/author-5.jpg' %}" alt="Image">
                                            </div>
                                            <div class="blog-author-info">
                                                <span>Posted By</span>
                                                <h6><a href="{% url 'blog-details-no-sidebar' %}">Steave Austin</a></h6>
                                            </div>
                                        </div>
                                        <h3><a href="{% url 'blog-details-no-sidebar' %}">Solar Panels Will Be Great Source Of Green Energy</a></h3>
<p>Discover the potential of solar panels as a sustainable source of green energy, paving the way for a cleaner and more environmentally friendly future.</p>
 <ul class="blog-metainfo list-style">
                                            <li><a href="{% url 'blog-details-no-sidebar' %}"><i class="ri-calendar-todo-line"></i>Jun 10, 2022</a></li>
                                        </ul>
                                    </div>
                                    <a href="{% url 'blog-details-no-sidebar' %}" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="blog-card style1">
                                    <div class="blog-info">
                                        <div class="blog-author">
                                            <div class="blog-author-img">
                                                <img src="{% static 'app/assets/img/blog/author-6.jpg' %}" alt="Image">
                                            </div>
                                            <div class="blog-author-info">
                                                <span>Posted By</span>
                                                <h6><a href="{% url 'blog-details-no-sidebar' %}">Emma Nicholls</a></h6>
                                            </div>
                                        </div>
                                        <h3><a href="{% url 'blog-details-no-sidebar' %}">10 Dangerous Effects of Climate Change on Wildlife</a></h3>
<p>Explore the perilous impacts of climate change on wildlife, shedding light on the urgent need for conservation efforts and climate action.</p>
 <ul class="blog-metainfo list-style">
                                            <li><a href="{% url 'blog-details-no-sidebar' %}"><i class="ri-calendar-todo-line"></i>May 25, 2022</a></li>
                                        </ul>
                                    </div>
                                    <a href="{% url 'blog-details-no-sidebar' %}" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="blog-card style1">
                                    <div class="blog-info">
                                        <div class="blog-author">
                                            <div class="blog-author-img">
                                                <img src="{% static 'app/assets/img/blog/author-2.jpg' %}" alt="Image">
                                            </div>
                                            <div class="blog-author-info">
                                                <span>Posted By</span>
                                                <h6><a href="{% url 'blog-details-no-sidebar' %}">Maya Harper</a></h6>
                                            </div>
                                        </div>
                                      <h3><a href="{% url 'blog-details-no-sidebar' %}">Why Scientists Disagree On Global Warming Effect</a></h3>
<p>Explore the complexities of differing scientific perspectives on the effects of global warming, shedding light on the nuanced discussions within the scientific community.</p>
<ul class="blog-metainfo list-style">
                                            <li><a href="{% url 'blog-details-no-sidebar' %}"><i class="ri-calendar-todo-line"></i>May 19, 2022</a></li>
                                        </ul>
                                    </div>
                                    <a href="{% url 'blog-details-no-sidebar' %}" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="blog-card style1">
                                    <div class="blog-info">
                                        <div class="blog-author">
                                            <div class="blog-author-img">
                                                <img src="{% static 'app/assets/img/blog/author-8.jpg' %}" alt="Image">
                                            </div>
                                            <div class="blog-author-info">
                                                <span>Posted By</span>
                                                <h6><a href="{% url 'blog-details-no-sidebar' %}">Kiera Woodward</a></h6>
                                            </div>
                                        </div>
                                      <h3><a href="{% url 'blog-details-no-sidebar' %}">Saving Forest And Wildlife From Climate Change</a></h3>
<p>Embark on a journey to safeguard forests and wildlife from the impacts of climate change, exploring strategies for conservation and environmental resilience.</p>
 <ul class="blog-metainfo list-style">
                                            <li><a href="{% url 'blog-details-no-sidebar' %}"><i class="ri-calendar-todo-line"></i>May 15, 2022</a></li>
                                        </ul>
                                    </div>
                                    <a href="{% url 'blog-details-no-sidebar' %}" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                        </div>
                        <ul class="page-nav list-style">
                            <li><a href="{% url 'blog-no-sidebar' %}"><i class="flaticon-left-arrow"></i></a></li>
                            <li><a class="active" href="{% url 'blog-no-sidebar' %}">1</a></li>
                            <li><a href="{% url 'blog-no-sidebar' %}">2</a></li>
                            <li><a href="{% url 'blog-no-sidebar' %}">3</a></li>
                            <li><a href="{% url 'blog-no-sidebar' %}"><i class="flaticon-right-arrow"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- Blog Details Section End -->

            </div>
            <!-- Content wrapper end -->


        <!-- Page Wrapper End -->
      {% endblock %}