{% extends 'layouts/alt_master.html' %}
{% load static %}

{% block title %}
    blog
{% endblock %}

{% block content %}
    <!-- Content Wrapper Start -->
    <div class="content-wrapper">

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap bg-f br-1">
            <div class="container">
                <div class="breadcrumb-title">
                    <h2>Contact Us</h2>
                    <ul class="breadcrumb-menu list-style">
                        <li><a href="{% url 'member' %}">Home </a></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Contact Us section Start -->
        <section class="contact-us-wrap ptb-100">
            <div class="container">
                <div class="section-title style1 text-center mb-40">
                    <span>Contact Us<img src="{% static 'app/assets/img/section-shape.png ' %}" alt="Image"></span>
                    {% if message_name %}
                                <h1>
                                    We have received your message {{ message_name }} and we will get in touch shortly
                                 <br><br><br><br><br><br><br><br><br><br>
                                </h1>
                        {% else %}
                        <h1>Get In Touch With Us </h1>

                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8">
                        <div class="contact-form">
                            {#****************************************************************************************************************************************#}

                            <form action="{% url 'contact' %}" method="post" class="form-wrap" id="contactForm">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="name" placeholder="Name*" id="name"
                                                   required data-error="Please enter your name">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="email" name="email" id="email" required
                                                   placeholder="Email*" data-error="Please enter your email">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="tel" name="phone" id="phone" required
                                                   placeholder="Phone*" data-error="Please enter your phone">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="msg_subject" placeholder="Subject*"
                                                   id="msg_subject" required data-error="Please enter your subject">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group v1">
                                            <textarea name="message" id="message" placeholder="Your Messages.."
                                                      cols="30" rows="10" required
                                                      data-error="Please enter your message"></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="form-check checkbox">
                                                <input
                                                        name="gridCheck"
                                                        value="I agree to the terms and privacy policy."
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        id="gridCheck"
                                                        required
                                                        data-error="Please enter your message"
                                                >
                                                <label class="form-check-label" for="gridCheck">
                                                    I agree to the <a class="link style1" href="{% url 'terms-of-service' %}">Terms
                                                    &amp; Conditions</a> and <a class="link style1"
                                                                                href="{% url 'privacy-policy' %}">Privacy
                                                    Policy</a>
                                                </label>
                                                 
                                                <div class="help-block with-errors gridCheck-error"></div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12">
                                        <button type="submit" class="btn style1 w-100 d-block">Send Message</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </form>

                            {#                 ********************************************************************************************************************#}


                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact-item-wrap">
                            <div class="contact-item">
                                <h3>Our Address</h3>
                                <p>939-00606, Kipro-center, Nairobi,Kenya</p>
                            </div>
                            <div class="contact-item">
                                <h3>Email Address</h3>
                                <a href="VincentCodes@gmail.com">VincentCodes@gmail.com</a>
                            </div>
                            <div class="contact-item">
                                <h3>24/7 Support</h3>
                                <a href="tel:254728552650">+254728 552 650</a>
                                <a href="tel:tel:254758552650">+254758 552 650</a>
                            </div>
                            <div class="contact-item">
                                <h3>Follow us</h3>
                                <ul class="social-profile style2 list-style">
                                    <li>
                                        <a href="https://facebook.com">
                                            <i class="ri-facebook-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com">
                                            <i class="ri-twitter-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://instagram.com">
                                            <i class="ri-instagram-line"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://linkedin.com">
                                            <i class="ri-linkedin-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Us section End -->

    </div>
    <!-- Content wrapper end -->

{% endif %}

{% endblock %}