{% extends 'layouts/alt_master.html' %}
{% load static %}
{% include "base_template.html" %}
{% load crispy_forms_filters %}

{% block title %}
    Community
{% endblock %}

{% block content %}
    <div class="content-wrapper"
         style="background-image: url('{% static 'app/assets/img/background_main.jpg' %}');
                 background-size: cover;
                 background-position: center center;
                 background-repeat: no-repeat;
                 background-attachment: fixed;
                 position: relative;">

        {% include "navbar.html" %}
        <div class="breadcrumb-wrap bg-f br-1">
            <div class="container">
                <div class="breadcrumb-title">
                    <h2>Members</h2>
                    <ul class="breadcrumb-menu list-style">
                        <li><a href="home.html">Home </a></li>
                        <li>Members</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->
        {% if form.is_valid %}
            <h1>
                We have received your message {{ message_name }} and we will get in touch shortly
                <br><br><br><br><br><br><br><br><br><br>
            </h1>

        {% else %}


            <div class="container justify-content-center align-content-center b">
                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <form action="" method="post" enctype="multipart/form-data"
                              class="shadow py-3 px-2 mt-3"
                              style="background-color: rgba(255, 255, 255, 0.8); border-radius: 10px;">

                            {% csrf_token %}
                            {{ form | crispy }}

                            <button class="rounded w-100 btn btn-dark">Join our Community</button>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            <!-- Content wrapper end -->
        {% endif %}
{% endblock %}
