{% extends 'layouts/master.html' %}
{% load static %}

{% block title %}
event
{% endblock %}


{% block content %}

            <!-- Content Wrapper Start -->
            <div class="content-wrapper">

                <!-- Breadcrumb Start -->
                <div class="breadcrumb-wrap bg-f br-1">
                    <div class="container">
                        <div class="breadcrumb-title">
                            <h2>Event</h2>
                            <ul class="breadcrumb-menu list-style">
                                <li><a href="home.html">Home </a></li>
                                <li><a href="event.html">Event</a></li>
                                <li>Event</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Breadcrumb End -->

                <!-- Event Details section Start -->
                <section class="event-details-wrap ptb-100">
                    <div class="container">
                        <div class="row gx-5">
                            <div class="col-xl-8">
                                <div class="event-desc">
                                    <a class="single-event-img mt-0" data-fancybox="gallery" href="assets/img/event/single-event-1.jpg">
                                        <img src="assets/img/event/single-event-1.jpg" alt="Image">
                                    </a>
                                    <h2>Protect Our Planet From Climate Change</h2>
                                    <p>Ultrices conubia vehicula malesuada. Eros commodo a duis accumsan vestibulum adipiscing hendrerit risus felis eros non justo semper semper rutrum ad risus felis eros. Cursus libero viverra tempus net diam vestibulum Semper est cursus viverra lectus nibh Eros commodo a duis accumsan vestibulum adipiscing hendrerit adipis Cursus libero viverra temp semper semper rutrum.</p>
                                    <p>Ultrices conubia vehicula malesuada. Eros commodo a duis accumsan vestibulum adipiscing hendrerit risus felis eros lob ortis viverra non justo semper semper rutrum ad risus felis eros. Cursus libero viverra tempus net diam vestibulum Semper est cursus viverra lectus nibh Eros commod.</p>
                                   
                                    <h3>Event Goal</h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.</p>
                                    <ol>
                                        <li>Lorem ipsum dolor sit consectetur adipiscing elitdiam nonumy eirmod tempor.</li>
                                        <li>Advisory membership elitr, sed diam nonumy eirmod tempor.</li>
                                        <li>If you do not have enough time, you will always be able.</li>
                                        <li>Irmad temporarily involved labor and doll magna alicum erat.</li>
                                        <li>Labor and love magna aliquam irat valupatua.</li>
                                    </ol>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a class="single-event-img" data-fancybox="gallery" href="assets/img/event/single-event-2.jpg">
                                                <img src="assets/img/event/single-event-2.jpg" alt="Image">
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="single-event-img" data-fancybox="gallery" href="assets/img/event/single-event-3.jpg">
                                                <img src="assets/img/event/single-event-3.jpg" alt="Image">
                                            </a>
                                        </div>
                                    </div>
                                    <h3>Our Plan &amp; Strategies</h3>
                                    <p>Amet consectetur adipisicing elit. Mollitia excepturi eaque, corporis nulla maxime inventore magni repreh enderit lorem ipsum dolor sit consequatur deserunt, eligendi totam voluptas natus. Quaerat neque nisi voluptatum ex esse architecto.</p>
                                    <ul class="content-feature-list style1 list-style mb-0">
                                        <li><span><i class="ri-check-line"></i></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonumy eirmod tempor.</li>
                                        <li><span><i class="ri-check-line"></i></span> Advisory membership elitr, sed diam nonumy eirmod tempor invidunt ut labor et dolore magna.</li>
                                        <li><span><i class="ri-check-line"></i></span> If you do not have enough time, you will always be able to work and do what you want.</li>
                                        <li><span><i class="ri-check-line"></i></span> Irmad temporarily involved labor and doll magna alicum erat, sed diam voluptua. Vero Eos and accused and fair.</li>
                                        <li><span><i class="ri-check-line"></i></span> Labor and Love Magna Aliquam Irat, Sed Diam Valupatua. Vero eos et accusam et justo dolores et ea ribam.</li>
                                    </ul>
                                </div>
                                <div class="post-meta-option mt-30 mb-0">
                                    <div class="row gx-0 align-items-center">
                                        <div class="col-md-5 col-12">
                                            <div class="post-share w-100">
                                                <span>Share:</span>
                                                <ul class="social-profile list-style style3">
                                                    <li>
                                                        <a href="https://facebook.com">
                                                            <i class="ri-facebook-fill"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com">
                                                            <i class="ri-twitter-fill"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://linkedin.com">
                                                            <i class="ri-linkedin-fill"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://pinterest.com">
                                                            <i class="ri-pinterest-line"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-12 text-md-end">
                                            <div class="post-tag">
                                                <span>Tags:</span>
                                                <ul class="tag-list list-style">
                                                    <li><a href="posts-by-tag.html">Pollution</a></li>
                                                    <li><a href="posts-by-tag.html">Climate</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="sidebar">
                                    <div class="sidebar-widget">
                                        <h4>Event Details</h4>
                                        <div class="event-info-item-wrap">
                                            <div class="event-info-item">
                                                <p>Organizer:</p>
                                               <span>Go Green Inc</span>
                                            </div>
                                            <div class="event-info-item">
                                                <p>Start Date:</p>
                                               <span>28 Jul, 2022</span>
                                            </div>
                                            <div class="event-info-item">
                                                <p>End Date:</p>
                                               <span>30 Jul, 2022</span>
                                            </div>
                                            <div class="event-info-item">
                                                <p>Time:</p>
                                               <span>8:00 AM - 5:00 PM</span>
                                            </div>
                                            <div class="event-info-item">
                                                <p>Ticket Price:</p>
                                               <span>$35/Person</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sidebar-widget">
                                        <h4>Venue Details</h4>
                                        <div class="event-info-item-wrap">
                                            <div class="event-info-item">
                                                <p>Venue:</p>
                                               <span>St Josef Hall</span>
                                            </div>
                                            <div class="event-info-item">
                                                <p>Address:</p>
                                               <span>12/13 Victoria Street, Florida</span>
                                            </div>
                                            <div class="event-info-item">
                                                <p>Email:</p>
                                               <span>30 Jul, 2022</span>
                                            </div>
                                            <div class="event-info-item">
                                                <p>Phone:</p>
                                               <span>8:00 AM - 5:00 PM</span>
                                            </div>
                                            <div class="event-info-item">
                                                <p>Website:</p>
                                               <span><a href="home.html">https://www.clim.com</a></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Event Details section End -->

            </div>
            <!-- Content wrapper end -->
{% endblock %}

