{% extends 'layouts/master.html' %}
{% load static %}

{% block title %}
	FAQ
{% endblock %}


{% block content %}
            <!-- Content Wrapper Start -->
            <div class="content-wrapper">

                <!-- Breadcrumb Start -->
                <div class="breadcrumb-wrap bg-f br-1">
                    <div class="container">
                        <div class="breadcrumb-title">
                            <h2>Frequently Asked Questions</h2>
                            <ul class="breadcrumb-menu list-style">
                                <li><a href="home.html">Home </a></li>
                                <li>FAQ</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Breadcrumb End -->

                <!-- FAQ Section start -->
                <section class="faq-wrap pt-100 pb-75">
                    <div class="container">
                        <div class="row gx-5">
                            <div class="col-lg-6">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne">
                                                <span>
                                                    <i class="ri-arrow-down-s-line plus"></i>
                                                    <i class="ri-arrow-up-s-line minus"></i>
                                                </span>
                                                How Does Climate Change Affect People?
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show"
                                            aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <div class="single-product-text">
                                                   <p>Climate change affects people through extreme weather, food insecurity, habitat disruption, health risks, and inequality, amplifying the need for urgent, equitable adaptation and mitigation strategies.</p>       </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                                <span>
                                                    <i class="ri-arrow-down-s-line plus"></i>
                                                    <i class="ri-arrow-up-s-line minus"></i>
                                                </span>
                                                What Is TNC Doing About Climate Change?
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse "
                                            aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>TNC (The Nature Conservancy) is actively addressing climate change by implementing conservation strategies, advocating for sustainable policies, and promoting community resilience to protect ecosystems and mitigate environmental impacts.</p> </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                <span>
                                                    <i class="ri-arrow-down-s-line plus"></i>
                                                    <i class="ri-arrow-up-s-line minus"></i>
                                                </span>
                                               Is It Hopeless To Stop Climate Change?
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse"
                                            aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>It is a long established fact that a reader will be distracted by the readable conten of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less no content here', making it look like readable English.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="accordion" id="accordionExample_two">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading_One">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapse_One"
                                                aria-expanded="false" aria-controls="collapse_One">
                                                <span>
                                                    <i class="ri-arrow-down-s-line plus"></i>
                                                    <i class="ri-arrow-up-s-line minus"></i>
                                                </span>
                                               How Is Climate Change Affecting Wildlife?
                                            </button>
                                        </h2>
                                        <div id="collapse_One" class="accordion-collapse collapse"
                                            aria-labelledby="heading_one" data-bs-parent="#accordionExample_two">
                                            <div class="accordion-body">
                                                <div class="single-product-text">
                                                    <p>It is a long established fact that a reader will be distracted by the readable conten of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less no content here', making it look like readable English.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading_Two">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapse_Two"
                                                aria-expanded="false" aria-controls="collapse_Two">
                                                <span>
                                                    <i class="ri-arrow-down-s-line plus"></i>
                                                    <i class="ri-arrow-up-s-line minus"></i>
                                                </span>
                                                How To Join With Volunteer Team?
                                            </button>
                                        </h2>
                                        <div id="collapse_Two" class="accordion-collapse collapse "
                                            aria-labelledby="heading_Two" data-bs-parent="#accordionExample_two">
                                            <div class="accordion-body">
                                                <p>It is a long established fact that a reader will be distracted by the readable conten of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less no content here', making it look like readable English.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading_Three">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapse_Three"
                                                aria-expanded="false" aria-controls="collapse_Three">
                                                <span>
                                                    <i class="ri-arrow-down-s-line plus"></i>
                                                    <i class="ri-arrow-up-s-line minus"></i>
                                                </span>
                                               How To Register To Be A Volunteer?
                                            </button>
                                        </h2>
                                        <div id="collapse_Three" class="accordion-collapse collapse"
                                            aria-labelledby="heading_Three" data-bs-parent="#accordionExample_two">
                                            <div class="accordion-body">
                                                <p>It is a long established fact that a reader will be distracted by the readable conten of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less no content here', making it look like readable English.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading_four">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapse_four"
                                                aria-expanded="true" aria-controls="collapse_four">
                                                <span>
                                                    <i class="ri-arrow-down-s-line plus"></i>
                                                    <i class="ri-arrow-up-s-line minus"></i>
                                                </span>
                                               What Are The Volunteer's Day to Day Duty?
                                            </button>
                                        </h2>
                                        <div id="collapse_four" class="accordion-collapse collapse "
                                            aria-labelledby="heading_four" data-bs-parent="#accordionExample_two">
                                            <div class="accordion-body">
                                                <div class="single-product-text">
                                                    <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit. Quisquam sit laborum est aliquam. Dicta fuga soluta eius exercitationem porro modi. Exercitationem eveniet aliquam repudiandae sequi.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading_five">
                                            <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse_five"
                                            aria-expanded="true" aria-controls="collapse_five">
                                                <span>
                                                    <i class="ri-arrow-down-s-line plus"></i>
                                                    <i class="ri-arrow-up-s-line minus"></i>
                                                </span>
                                                What Are Your Office Hours?
                                            </button>
                                        </h2>
                                        <div id="collapse_five" class="accordion-collapse collapse "
                                            aria-labelledby="heading_five" data-bs-parent="#accordionExample_two">
                                            <div class="accordion-body">
                                                <div class="single-product-text">
                                                    <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit. Quisquam sit laborum est aliquam. Dicta fuga soluta eius exercitationem porro modi. Exercitationem eveniet aliquam repudiandae sequi.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- FAQ Section end -->

            </div>
            <!-- Content wrapper end -->

{% endblock %}