{% extends 'base_template.html' %}
{% load humanize %}

{% block title %}
    {{ member.name }}
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-5">

                {% include 'alerts.html' %}

                <div class="card">
                    {% if member.profile %}
                        <img src="{{ member.profile.url }}" height="300" width="300" alt="">
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{ member.name }}</h2>
                        <p class="card-text">Ksh {{ member.salary | intcomma }}</p>
                        <p class="card-text">Born on {{ member.dob | date:'d-m-Y' }}</p>
                        <p class="card-text">Address {{ member.email }}</p>
                        <p class="card-text">Added {{ member.created_at | naturaltime }}</p>
{# add, change, view, delete #}
                        {% if perms.main_app.delete_member %}
                            <a href="{% url 'delete' member.id %}" class="btn btn-danger w-100">Delete</a>
                        {% endif %}

                        {% if perms.main_app.change_member %}
                            <a href="{% url 'update' member.id %}" class="btn btn-info w-100 mt-3">Update</a>
                        {% endif %}
                    </div>
                    {#        members/delete/100         #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# view, add, delete, change#}



