
<nav class="navbar  navbar-expand-lg bg-light">
  <div class="justify-content-center align-content-center container">
    <a class="navbar-brand" href="{% url "home" %}">Climate Action Frontiers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">


        <li class="nav-item ">
          <a class="nav-link {% if "/" == request.path  %} active {% endif %}" aria-current="page" href="{% url "member" %}">Add Member</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if "/" == request.path  %} active {% endif %}" href="{% url "all" %}">Members</a>
        </li>

      </ul>
      <form class="d-flex"  role="search" method="get" action="{% url "search" %}">
        <input class="form-control me-2" name="search_word" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>


            <ul class="navbar-nav ms-3 mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-danger" href="#" role="button" data-bs-toggle="dropdown">{{ user.first_name }}</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'signout' %}">Sign Out</a></li>
                    </ul>
                </li>
            </ul>


        </div>
    </div>
</nav>
