{% extends 'layouts/master.html' %}
{% load static %}


{% block title %}
	posts
{% endblock %}



{% block content %}

            <!-- Content Wrapper Start -->
            <div class="content-wrapper">

                <!-- Breadcrumb Start -->
                <div class="breadcrumb-wrap bg-f br-1">
                    <div class="container">
                        <div class="breadcrumb-title">
                            <h2>Posts By Tag</h2>
                            <ul class="breadcrumb-menu list-style">
                                <li><a href="home.html">Home</a></li>
                                <li>Tag</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Breadcrumb End -->

                <!-- Blog Details Section Start -->
                <div class="blog-details-wrap ptb-100">
                    <div class="container">
                        <div class="row gx-5">
                            <h3 class="post-cat-title">Tag: <span>Climate Change</span></h3>
                            <div class="col-xl-8 col-lg-12">
                                <div class="row justify-content-center">
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="blog-card style1">
                                            <div class="blog-info">
                                                <div class="blog-author">
                                                    <div class="blog-author-img">
                                                        <img src="assets/img/blog/author-1.jpg" alt="Image">
                                                    </div>
                                                    <div class="blog-author-info">
                                                        <span>Posted By</span>
                                                        <h6><a href="posts-by-author.html">David Warner</a></h6>
                                                    </div>
                                                </div>
                                                <h3><a href="blog-details-right-sidebar.html">Changes In Landscapes And Wildlife Community</a></h3>
                                                <p>Lorem ipsum dolor sit amet cons ectadic elite soli tudin consec tetur netusdu ame ultrices lectus dolor sit amet egestas.</p>
                                                <ul class="blog-metainfo list-style">
                                                    <li><a href="posts-by-date.html"><i class="ri-calendar-todo-line"></i>Jul 22, 2022</a></li>
                                                </ul>
                                            </div>
                                            <a href="blog-details-right-sidebar.html" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="blog-card style1">
                                            <div class="blog-info">
                                                <div class="blog-author">
                                                    <div class="blog-author-img">
                                                        <img src="assets/img/blog/author-7.jpg" alt="Image">
                                                    </div>
                                                    <div class="blog-author-info">
                                                        <span>Posted By</span>
                                                        <h6><a href="posts-by-author.html">Morgan Stanly</a></h6>
                                                    </div>
                                                </div>
                                                <h3><a href="blog-details-right-sidebar.html">Let’s Take Care of Nature for The Sake of The Earth</a></h3>
                                                <p>Lorem ipsum dolor sit amet cons ectadic elite soli tudin consec tetur netusdu ame ultrices lectus dolor sit amet egestas.</p>
                                                <ul class="blog-metainfo list-style">
                                                    <li><a href="posts-by-date.html"><i class="ri-calendar-todo-line"></i>Jul 17, 2022</a></li>
                                                </ul>
                                            </div>
                                            <a href="blog-details-right-sidebar.html" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="blog-card style1">
                                            <div class="blog-info">
                                                <div class="blog-author">
                                                    <div class="blog-author-img">
                                                        <img src="assets/img/blog/author-3.jpg" alt="Image">
                                                    </div>
                                                    <div class="blog-author-info">
                                                        <span>Posted By</span>
                                                        <h6><a href="posts-by-author.html">Michel Hudson</a></h6>
                                                    </div>
                                                </div>
                                                <h3><a href="blog-details-right-sidebar.html">Increasing Risk Of Storms, Droughts and Floods</a></h3>
                                                <p>Lorem ipsum dolor sit amet cons ectadic elite soli tudin consec tetur netusdu ame ultrices lectus dolor sit amet egestas.</p>
                                                <ul class="blog-metainfo list-style">
                                                    <li><a href="posts-by-date.html"><i class="ri-calendar-todo-line"></i>Jul 13, 2022</a></li>
                                                </ul>
                                            </div>
                                            <a href="blog-details-right-sidebar.html" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="blog-card style1">
                                            <div class="blog-info">
                                                <div class="blog-author">
                                                    <div class="blog-author-img">
                                                        <img src="assets/img/blog/author-4.jpg" alt="Image">
                                                    </div>
                                                    <div class="blog-author-info">
                                                        <span>Posted By</span>
                                                        <h6><a href="posts-by-author.html">Lisa Margaret</a></h6>
                                                    </div>
                                                </div>
                                                <h3><a href="blog-details-right-sidebar.html">Seven Things Nobody Told You About Water Pollution</a></h3>
                                                <p>Lorem ipsum dolor sit amet cons ectadic elite soli tudin consec tetur netusdu ame ultrices lectus dolor sit amet egestas.</p>
                                                <ul class="blog-metainfo list-style">
                                                    <li><a href="posts-by-date.html"><i class="ri-calendar-todo-line"></i>Jun 12, 2022</a></li>
                                                </ul>
                                            </div>
                                            <a href="blog-details-right-sidebar.html" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="blog-card style1">
                                            <div class="blog-info">
                                                <div class="blog-author">
                                                    <div class="blog-author-img">
                                                        <img src="assets/img/blog/author-5.jpg" alt="Image">
                                                    </div>
                                                    <div class="blog-author-info">
                                                        <span>Posted By</span>
                                                        <h6><a href="posts-by-author.html">Steave Austin</a></h6>
                                                    </div>
                                                </div>
                                                <h3><a href="blog-details-right-sidebar.html">Solar Panels Will Be Great Source Of Green Energy</a></h3>
                                                <p>Lorem ipsum dolor sit amet cons ectadic elite soli tudin consec tetur netusdu ame ultrices lectus dolor sit amet egestas.</p>
                                                <ul class="blog-metainfo list-style">
                                                    <li><a href="posts-by-date.html"><i class="ri-calendar-todo-line"></i>Jun 10, 2022</a></li>
                                                </ul>
                                            </div>
                                            <a href="blog-details-right-sidebar.html" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="blog-card style1">
                                            <div class="blog-info">
                                                <div class="blog-author">
                                                    <div class="blog-author-img">
                                                        <img src="assets/img/blog/author-6.jpg" alt="Image">
                                                    </div>
                                                    <div class="blog-author-info">
                                                        <span>Posted By</span>
                                                        <h6><a href="posts-by-author.html">Emma Nicholls</a></h6>
                                                    </div>
                                                </div>
                                                <h3><a href="blog-details-right-sidebar.html">10 Dangerous Effect Of Climate Change On Wildlife</a></h3>
                                                <p>Lorem ipsum dolor sit amet cons ectadic elite soli tudin consec tetur netusdu ame ultrices lectus dolor sit amet egestas.</p>
                                                <ul class="blog-metainfo list-style">
                                                    <li><a href="posts-by-date.html"><i class="ri-calendar-todo-line"></i>May 25, 2022</a></li>
                                                </ul>
                                            </div>
                                            <a href="blog-details-right-sidebar.html" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="blog-card style1">
                                            <div class="blog-info">
                                                <div class="blog-author">
                                                    <div class="blog-author-img">
                                                        <img src="assets/img/blog/author-2.jpg" alt="Image">
                                                    </div>
                                                    <div class="blog-author-info">
                                                        <span>Posted By</span>
                                                        <h6><a href="posts-by-author.html">Maya Harper</a></h6>
                                                    </div>
                                                </div>
                                                <h3><a href="blog-details-right-sidebar.html">Why Scientists Disagree On Global Warming Effect</a></h3>
                                                <p>Lorem ipsum dolor sit amet cons ectadic elite soli tudin consec tetur netusdu ame ultrices lectus dolor sit amet egestas.</p>
                                                <ul class="blog-metainfo list-style">
                                                    <li><a href="posts-by-date.html"><i class="ri-calendar-todo-line"></i>May 19, 2022</a></li>
                                                </ul>
                                            </div>
                                            <a href="blog-details-right-sidebar.html" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="blog-card style1">
                                            <div class="blog-info">
                                                <div class="blog-author">
                                                    <div class="blog-author-img">
                                                        <img src="assets/img/blog/author-8.jpg" alt="Image">
                                                    </div>
                                                    <div class="blog-author-info">
                                                        <span>Posted By</span>
                                                        <h6><a href="posts-by-author.html">Kiera Woodward</a></h6>
                                                    </div>
                                                </div>
                                                <h3><a href="blog-details-right-sidebar.html">Saving Forest And Wildlife From Climate Change</a></h3>
                                                <p>Lorem ipsum dolor sit amet cons ectadic elite soli tudin consec tetur netusdu ame ultrices lectus dolor sit amet egestas.</p>
                                                <ul class="blog-metainfo list-style">
                                                    <li><a href="posts-by-date.html"><i class="ri-calendar-todo-line"></i>May 15, 2022</a></li>
                                                </ul>
                                            </div>
                                            <a href="blog-details-right-sidebar.html" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="page-nav list-style">
                                    <li><a href="blog-right-sidebar.html"><i class="flaticon-left-arrow"></i></a></li>
                                    <li><a class="active" href="blog-right-sidebar.html">1</a></li>
                                    <li><a href="blog-right-sidebar.html">2</a></li>
                                    <li><a href="blog-right-sidebar.html">3</a></li>
                                    <li><a href="blog-right-sidebar.html"><i class="flaticon-right-arrow"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-xl-4 col-lg-12">
                                <div class="sidebar">
                                    <div class="sidebar-widget">
                                        <h4>Search </h4>
                                        <div class="search-box">
                                            <div class="form-group">
                                                <input type="search" placeholder="Search">
                                                <button type="submit"> 
                                                    <i class="flaticon-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sidebar-widget categories">
                                        <h4>Categories</h4>
                                        <ul class="category-box list-style">
                                            <li>
                                                <a href="posts-by-category.html">
                                                    <i class="ri-checkbox-line"></i>
                                                    Global Warming
                                                </a>
                                            </li>
                                            <li>
                                                <a href="posts-by-category.html">
                                                    <i class="ri-checkbox-line"></i>
                                                    Water Pollution
                                                </a>
                                            </li>
                                            <li>
                                                <a href="posts-by-category.html">
                                                    <i class="ri-checkbox-line"></i>
                                                    Green House Effect
                                                </a>
                                            </li>
                                            <li>
                                                <a href="posts-by-category.html">
                                                    <i class="ri-checkbox-line"></i>
                                                    Climate Change
                                                </a>
                                            </li>
                                            <li>
                                                <a href="posts-by-category.html">
                                                    <i class="ri-checkbox-line"></i>
                                                    Deforestation
                                                </a>
                                            </li>
                                            <li>
                                                <a href="posts-by-category.html">
                                                    <i class="ri-checkbox-line"></i>
                                                    Save Animal
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="sidebar-widget popular-post">
                                        <h4>Recent Posts</h4>
                                        <div class="popular-post-widget">
                                            <div class="pp-post-item">
                                                <a href="blog-details-right-sidebar.html" class="pp-post-img">
                                                    <img src="assets/img/blog/post-thumb-1.jpg" alt="Image">
                                                </a>
                                                <div class="pp-post-info">
                                                    <h6>
                                                        <a href="blog-details-no-sidebar.html">
                                                            Five Important Life Lessons Climate Change Taught Us.
                                                        </a>
                                                    </h6>
                                                    <a href="posts-by-date.html" class="pp-post-date"><i class="ri-calendar-todo-line"></i>Jul 22,  2022</a>
                                                </div>
                                            </div>
                                            <div class="pp-post-item">
                                                <a href="blog-details-right-sidebar.html" class="pp-post-img">
                                                    <img src="assets/img/blog/post-thumb-2.jpg" alt="Image">
                                                </a>
                                                <div class="pp-post-info">
                                                    <h6>
                                                        <a href="blog-details-no-sidebar.html">
                                                            10 Ways To Overcome Climate Change's Problem.
                                                        </a>
                                                    </h6>
                                                    <a href="posts-by-date.html" class="pp-post-date"><i class="ri-calendar-todo-line"></i>Jul 17,  2022</a>
                                                </div>
                                            </div>
                                            <div class="pp-post-item">
                                                <a href="blog-details-right-sidebar.html" class="pp-post-img">
                                                    <img src="assets/img/blog/post-thumb-3.jpg" alt="Image">
                                                </a>
                                                <div class="pp-post-info">
                                                    <h6>
                                                        <a href="blog-details-no-sidebar.html">
                                                            7 Facts About Climate Change That Will Blow Your Mind.
                                                        </a>
                                                    </h6>
                                                    <a href="posts-by-date.html" class="pp-post-date"><i class="ri-calendar-todo-line"></i>May 15,   2022</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sidebar-widget style2">
                                        <div class="contact-widget bg-f">
                                            <h3>Let's Work Together</h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio illo tenetur sed quidem. Suscipit, doloribus?</p>
                                            <a href="contact.html" class="btn style1">Contact Us</a>
                                        </div>
                                    </div>
                                    <div class="sidebar-widget tags">
                                        <h4>Popular Tags </h4>
                                        <ul class="tag-list list-style">
                                            <li><a href="posts-by-tag.html">Pollution</a></li>
                                            <li><a href="posts-by-tag.html">Water</a></li>
                                            <li><a href="posts-by-tag.html">Protest</a></li>
                                            <li><a href="posts-by-tag.html">Environment</a></li>
                                            <li><a href="posts-by-tag.html">Rally</a></li>
                                            <li><a href="posts-by-tag.html">Non-profit</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Blog Details Section End -->

            </div>
            <!-- Content wrapper end -->
{% endblock %}
