{% extends 'layouts/master.html' %}
{% load static %}


{% block title %}
    project
{% endblock %}



{% block content %}
    <!-- Content Wrapper Start -->
    <div class="content-wrapper">

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap bg-f br-1">
            <div class="container">
                <div class="breadcrumb-title">
                    <h2>Single Project</h2>
                    <ul class="breadcrumb-menu list-style">
                        <li><a href="{% url 'home' %}">Home </a></li>
                        <li><a href="{% url 'project-two' %}">Projects</a></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Project Details Section Start -->
        <section class="project-details-wrap ptb-100">
            <div class="container">
                <div class="row gx-5">
                    <div class="col-xl-8">
                        <div class="project-desc">
                            <a class="single-project-img mt-0" data-fancybox="gallery"
                               href="{% static 'app/assets/img/project/single-project-1.jpg' %}">
                                <img src="{% static 'app/assets/img/project/single-project-1.jpg' %}" alt="Image">
                            </a>
                            <h1>Reduce Greenhouse Gas</h1>
                            <div class="progressbar-wrap ">
                                <div class="progress-bar" data-percentage="70%">
                                    <h4 class="progress-title-holder">
                                                <span class="progress-number-wrapper">
                                                    <span class="progress-number-mark">
                                                        <span class="percent"></span>
                                                    </span>
                                                </span>
                                    </h4>
                                    <div class="progress-content-outter">
                                        <div class="progress-content">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="fund-collection list-style">
                                <li class="fund-raised">
                                    <span>$4800</span> Raised Of $19000
                                </li>
                            </ul>
                            <p>Climate action is imperative in the face of escalating environmental challenges. By
                                transitioning to renewable energy sources such as solar and wind power, we can
                                significantly reduce our carbon footprint. Energy efficiency measures, sustainable
                                transportation initiatives, and reforestation projects play pivotal roles in curbing
                                greenhouse gas emissions.</p>

                            <p>Furthermore, implementing effective waste management strategies, embracing carbon capture
                                and storage technologies, and advocating for stronger environmental regulations are
                                crucial steps toward a sustainable future. International cooperation and a commitment to
                                a circular economy are integral components of a comprehensive approach to combat climate
                                change. Together, we can make a positive impact and build a more sustainable world for
                                future generations.</p>
                            <blockquote class="wp-block-quote">
                                <p>In the face of a changing climate, it's crucial to take bold steps towards
                                    sustainability. Embracing renewable energy sources like solar and wind power can
                                    reshape our impact on the environment. By implementing energy-efficient practices
                                    and fostering a culture of environmental responsibility, we can break free from the
                                    conventional constraints of carbon-intensive habits.</p></blockquote>
                            <p>Let's actively engage in the reforestation of our planet, creating green spaces that not
                                only absorb carbon dioxide but also promote biodiversity. Sustainable practices in
                                transportation, coupled with waste reduction efforts, contribute to a cleaner, healthier
                                future. It's time to unite globally, transcending borders, and collectively build a
                                resilient and sustainable world for generations to come.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="single-project-img" data-fancybox="gallery"
                                       href="{% static 'app/assets/img/project/project-1.jpg' %}">
                                        <img src="{% static 'app/assets/img/project/project-1.jpg' %}" alt="Image">
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a class="single-project-img" data-fancybox="gallery"
                                       href="{% static 'app/assets/img/project/project-2.jpg' %}">
                                        <img src="{% static 'app/assets/img/project/project-2.jpg' %}" alt="Image">
                                    </a>
                                </div>
                            </div>
                            <h3>Our Goal &amp; Plan</h3>
                            <p>Addressing the challenge of climate change requires concerted efforts to reduce
                                greenhouse gas emissions and create a sustainable future. It's crucial to set ambitious
                                goals that align with global climate targets and foster positive change.</p>

                            <ol>
                                <li>Set a target to limit global warming, aiming to keep the temperature increase well
                                    below 2 degrees Celsius above pre-industrial levels, with an aspiration to reach 1.5
                                    degrees Celsius.
                                </li>
                                <li>Promote a transition to renewable energy sources, reducing reliance on fossil fuels
                                    and advancing technologies for clean and sustainable power.
                                </li>
                                <li>Enhance energy efficiency across industries, transportation, and buildings to
                                    minimize energy consumption and associated emissions.
                                </li>
                                <li>Encourage sustainable transportation initiatives, such as promoting electric
                                    vehicles and investing in public transportation infrastructure.
                                </li>
                                <li>Commit to the conservation of forests and ecosystems by preventing deforestation,
                                    promoting afforestation, and safeguarding biodiversity.
                                </li>
                            </ol>

                            <p>Effective waste management practices, the development of carbon capture and storage
                                technologies, and international collaboration are essential components of a
                                comprehensive strategy to combat climate change. By fostering public awareness and
                                education, we empower communities to actively participate in reducing our collective
                                carbon footprint and building a resilient future.</p>

                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="sidebar">
                            <div class="sidebar-widget">
                                <h4>Project Brief</h4>
                                <div class="project-info-item-wrap">
                                    <div class="project-info-item">
                                        <h6>Categroy:</h6>
                                        <span>Climate Change Awarness</span>
                                    </div>
                                    <div class="project-info-item">
                                        <h6>Date:</h6>
                                        <span>28 Jul, 2022</span>
                                    </div>
                                    <div class="project-info-item">
                                        <h6>Entrance:</h6>
                                        <span>Unlimited</span>
                                    </div>
                                    <div class="project-info-item">
                                        <h6>Type:</h6>
                                        <span>Open</span>
                                    </div>
                                    <div class="project-info-item">
                                        <h6>Share:</h6>
                                        <ul class="social-profile list-style style2">
                                            <li>
                                                <a href="https://facebook.com">
                                                    <i class="ri-facebook-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com">
                                                    <i class="ri-twitter-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://linkedin.com">
                                                    <i class="ri-linkedin-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://pinterest.com">
                                                    <i class="ri-pinterest-line"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-widget">
                                <h4>Give Us A Message</h4>
                                <form action="{% url 'project-details' %}" class="register-widget">
                                    <div class="form-group">
                                        <input type="text" placeholder="Name*">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" placeholder="Email*">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="msg" id="msg" cols="30" rows="10"
                                                  placeholder="Your Message"></textarea>
                                    </div>
                                    <button type="submit" class="btn style1 w-100 d-block">Send Message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Project Details Section End -->

    </div>
    <!-- Content wrapper end -->
{% endblock %}