{% extends 'layouts/master.html' %}
{% load static %}


{% block title %}
	project
{% endblock %}



{% block content %}
            <!-- Content Wrapper Start -->
            <div class="content-wrapper">

                <!-- Breadcrumb Start -->
                <div class="breadcrumb-wrap bg-f br-1">
                    <div class="container">
                        <div class="breadcrumb-title">
                            <h2>Single Project</h2>
                            <ul class="breadcrumb-menu list-style">
                                <li><a href="home.html">Home </a></li>
                                <li><a href="project-one.html">Projects</a></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Breadcrumb End -->

                <!-- Project Details Section Start -->
                <section class="project-details-wrap ptb-100">
                    <div class="container">
                        <div class="row gx-5">
                            <div class="col-xl-8">
                                <div class="project-desc">
                                    <a class="single-project-img mt-0" data-fancybox="gallery" href="assets/img/project/single-project-1.jpg">
                                        <img src="assets/img/project/single-project-1.jpg" alt="Image">
                                    </a>
                                    <h1>Protect Global Warming By Tree Plantation</h1>
                                    <div class="progressbar-wrap ">
                                        <div class="progress-bar" data-percentage="70%">
                                            <h4 class="progress-title-holder">
                                                <span class="progress-number-wrapper">
                                                    <span class="progress-number-mark">
                                                        <span class="percent"></span>
                                                    </span>
                                                </span>
                                            </h4>
                                            <div class="progress-content-outter">
                                                <div class="progress-content">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="fund-collection list-style">
                                        <li class="fund-raised">
                                            <span>$4800</span> Raised Of $19000
                                        </li>
                                    </ul>
                                    <p>Ultrices conubia vehicula malesuada. Eros commodo a duis accumsan vestibulum adipiscing hendrerit risus felis eros non justo semper semper rutrum ad risus felis eros. Cursus libero viverra tempus net diam vestibulum Semper est cursus viverra lectus nibh Eros commodo a duis accumsan vestibulum adipiscing hendrerit adipis Cursus libero viverra temp semper semper rutrum ad risus felis eros.</p>
                                    <p>Conubia vehicula malesuada. Eros commodo a duis accumsan vestibulum adipiscing hendrerit risus felis eros lob ortis viverra non justo semper semper rutrum ad risus felis eros. Cursus libero viverra tempus net diam vestibulum Semper est cursus viverra lectus nibh Eros commodo a duis accumsan.</p>
                                    <blockquote class="wp-block-quote">
                                        <p>Ultrices conubia vehicula malesuada. Eros commodo a duis accumsan vestibulum adipiscing hendrerit risus felis eros lobortis viverra non justo semper semper rutrum ad risus felis.</p>
                                    </blockquote>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a class="single-project-img" data-fancybox="gallery" href="assets/img/project/project-1.jpg">
                                                <img src="assets/img/project/project-1.jpg" alt="Image">
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="single-project-img" data-fancybox="gallery" href="assets/img/project/project-2.jpg">
                                                <img src="assets/img/project/project-2.jpg" alt="Image">
                                            </a>
                                        </div>
                                    </div>
                                    <h3>Our Goal &amp; Plan</h3>
                                    <p>Amet consectetur adipisicing elit. Mollitia excepturi eaque, corporis nulla maxime inventore magni repreh enderit lorem ipsum dolor sit consequatur deserunt, eligendi totam voluptas natus quaerat.</p>
                                    <ol>
                                        <li>Lorem ipsum dolor sit consectetur adipiscing elitdiam nonumy eirmod tempor.</li>
                                        <li>Advisory membership elitr, sed diam nonumy eirmod tempor.</li>
                                        <li>If you do not have enough time, you will always be able.</li>
                                        <li>Irmad temporarily involved labor and doll magna alicum erat.</li>
                                        <li>Labor and love magna aliquam irat valupatua.</li>
                                    </ol>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse perferendis ad, corrupti vel enim voluptatibus repudiandae illum. Fuga, pariatur possimus.</p>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="sidebar">
                                    <div class="sidebar-widget">
                                        <h4>Project Brief</h4>
                                        <div class="project-info-item-wrap">
                                            <div class="project-info-item">
                                                <h6>Categroy:</h6>
                                               <span>Climate Change Awarness</span>
                                            </div>
                                            <div class="project-info-item">
                                                <h6>Date:</h6>
                                               <span>28 Jul, 2022</span>
                                            </div>
                                            <div class="project-info-item">
                                                <h6>Entrance:</h6>
                                               <span>Unlimited</span>
                                            </div>
                                            <div class="project-info-item">
                                                <h6>Type:</h6>
                                               <span>Open</span>
                                            </div>
                                            <div class="project-info-item">
                                                <h6>Share:</h6>
                                                <ul class="social-profile list-style style2">
                                                    <li>
                                                        <a href="https://facebook.com">
                                                            <i class="ri-facebook-fill"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com">
                                                            <i class="ri-twitter-fill"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://linkedin.com">
                                                            <i class="ri-linkedin-fill"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://pinterest.com">
                                                            <i class="ri-pinterest-line"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sidebar-widget">
                                        <h4>Give Us A Message</h4>    
                                        <form action="project-details.html#" class="register-widget">
                                            <div class="form-group">
                                                <input type="text" placeholder="Name*">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" placeholder="Email*">
                                            </div>
                                            <div class="form-group">
                                                <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Your Message"></textarea>
                                            </div>
                                            <button type="submit" class="btn style1 w-100 d-block">Send Message</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Project Details Section End -->

            </div>
            <!-- Content wrapper end -->
{% endblock %}