{% extends 'layouts/master.html' %}
{% load static %}


{% block title %}
	team
{% endblock %}



{% block content %}

            <!-- Content Wrapper Start -->
            <div class="content-wrapper">

                <!-- Breadcrumb Start -->
                <div class="breadcrumb-wrap bg-f br-1">
                    <div class="container">
                        <div class="breadcrumb-title">
                            <h2>Volunteer</h2>
                            <ul class="breadcrumb-menu list-style">
                                <li><a href="{% url 'home' %}">Home </a></li>
                                <li>Volunteer</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Breadcrumb End -->

                <!-- Team Section Start -->
                <section class="team-wrap ptb-100 bg-sand">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="team-card style1">
                                    <img src="{% static 'app/assets/img/team/team-1.jpg' %}" alt="Image">
                                    <div class="team-info">
                                        <img src="{% static 'app/assets/img/team/team-shape-2.png' %}" alt="IMage" class="team-shape">
                                        <h3><a href="{% url 'team-details' %}">Kevin Thompson</a></h3>
                                        <span>Founder &amp; CEO</span>
                                        <ul class="social-profile style1 list-style">
                                            <li>
                                                <a href="https://facebook.com">
                                                    <i class="ri-facebook-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com">
                                                    <i class="ri-twitter-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com">
                                                    <i class="ri-instagram-line"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://linkedin.com">
                                                    <i class="ri-linkedin-fill"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="team-card style1">
                                    <img src="{% static 'app/assets/img/team/team-2.jpg' %}" alt="Image">
                                    <div class="team-info">
                                        <img src="{% static 'app/assets/img/team/team-shape-2.png' %}" alt="IMage" class="team-shape">
                                        <h3><a href="{% url 'team-details' %}">Isabella Woods</a></h3>
                                        <span>Cheif Marketing Officer</span>
                                        <ul class="social-profile style1 list-style">
                                            <li>
                                                <a href="https://facebook.com">
                                                    <i class="ri-facebook-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com">
                                                    <i class="ri-twitter-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com">
                                                    <i class="ri-instagram-line"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://linkedin.com">
                                                    <i class="ri-linkedin-fill"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="team-card style1">
                                    <img src="{% static 'app/assets/img/team/team-3.jpg' %}" alt="Image">
                                    <div class="team-info">
                                        <img src="{% static 'app/assets/img/team/team-shape-2.png' %}" alt="IMage" class="team-shape">
                                        <h3><a href="{% url 'team-details' %}">Liam Stokes</a></h3>
                                        <span>Senior Executive</span>
                                        <ul class="social-profile style1 list-style">
                                            <li>
                                                <a href="https://facebook.com">
                                                    <i class="ri-facebook-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com">
                                                    <i class="ri-twitter-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com">
                                                    <i class="ri-instagram-line"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://linkedin.com">
                                                    <i class="ri-linkedin-fill"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="team-card style1">
                                    <img src="{% static 'app/assets/img/team/team-4.jpg' %}" alt="Image">
                                    <div class="team-info">
                                        <img src="{% static 'app/assets/img/team/team-shape-2.png' %}" alt="IMage" class="team-shape">
                                        <h3><a href="{% url 'team-details' %}">Lucy Floyd</a></h3>
                                        <span>Accounts Manager</span>
                                        <ul class="social-profile style1 list-style">
                                            <li>
                                                <a href="https://facebook.com">
                                                    <i class="ri-facebook-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com">
                                                    <i class="ri-twitter-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com">
                                                    <i class="ri-instagram-line"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://linkedin.com">
                                                    <i class="ri-linkedin-fill"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="team-card style1">
                                    <img src="{% static 'app/assets/img/team/team-5.jpg' %}" alt="Image">
                                    <div class="team-info">
                                        <img src="{% static 'app/assets/img/team/team-shape-2.png' %}" alt="IMage" class="team-shape">
                                        <h3><a href="{% url 'team-details' %}">Hannah Adison</a></h3>
                                        <span>Marketing Manager</span>
                                        <ul class="social-profile style1 list-style">
                                            <li>
                                                <a href="https://facebook.com">
                                                    <i class="ri-facebook-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com">
                                                    <i class="ri-twitter-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com">
                                                    <i class="ri-instagram-line"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://linkedin.com">
                                                    <i class="ri-linkedin-fill"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="team-card style1">
                                    <img src="{% static 'app/assets/img/team/team-6.jpg' %}" alt="Image">
                                    <div class="team-info">
                                        <img src="{% static 'app/assets/img/team/team-shape-2.png' %}" alt="IMage" class="team-shape">
                                        <h3><a href="{% url 'team-details' %}">Jaylen Mills </a></h3>
                                        <span>Senior Executive</span>
                                        <ul class="social-profile style1 list-style">
                                            <li>
                                                <a href="https://facebook.com">
                                                    <i class="ri-facebook-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com">
                                                    <i class="ri-twitter-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com">
                                                    <i class="ri-instagram-line"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://linkedin.com">
                                                    <i class="ri-linkedin-fill"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="team-card style1">
                                    <img src="{% static 'app/assets/img/team/team-7.jpg' %}" alt="Image">
                                    <div class="team-info">
                                        <img src="{% static 'app/assets/img/team/team-shape-2.png' %}" alt="IMage" class="team-shape">
                                        <h3><a href="{% url 'team-details' %}">Autumn Leilani</a></h3>
                                        <span>Sales Executive</span>
                                        <ul class="social-profile style1 list-style">
                                            <li>
                                                <a href="https://facebook.com">
                                                    <i class="ri-facebook-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com">
                                                    <i class="ri-twitter-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com">
                                                    <i class="ri-instagram-line"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://linkedin.com">
                                                    <i class="ri-linkedin-fill"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="team-card style1">
                                    <img src="{% static 'app/assets/img/team/team-8.jpg' %}" alt="Image">
                                    <div class="team-info">
                                        <img src="{% static 'app/assets/img/team/team-shape-2.png' %}" alt="IMage" class="team-shape">
                                        <h3><a href="{% url 'team-details' %}">August Brayson</a></h3>
                                        <span>HR Exective</span>
                                        <ul class="social-profile style1 list-style">
                                            <li>
                                                <a href="https://facebook.com">
                                                    <i class="ri-facebook-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com">
                                                    <i class="ri-twitter-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com">
                                                    <i class="ri-instagram-line"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://linkedin.com">
                                                    <i class="ri-linkedin-fill"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <ul class="page-nav list-style">
                            <li><a href="{% url 'team' %}"><i class="flaticon-left-arrow"></i></a></li>
                            <li><a class="active" href="{% url 'team' %}">1</a></li>
                            <li><a href="{% url 'team' %}">2</a></li>
                            <li><a href="{% url 'team' %}">3</a></li>
                            <li><a href="{% url 'team' %}"><i class="flaticon-right-arrow"></i></a></li>
                        </ul>
                    </div>
                </section>
                <!-- Team Section End -->

            </div>
            <!-- Content wrapper end -->

        {% endblock %}