{% extends 'layouts/master.html' %}
{% load static %}


{% block title %}
    team
{% endblock %}



{% block content %}
    <!-- Content Wrapper Start -->
    <div class="content-wrapper">

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap bg-f br-1">
            <div class="container">
                <div class="breadcrumb-title">
                    <h2>Volunteer Profile</h2>
                    <ul class="breadcrumb-menu list-style">
                        <li><a href="home.html">Home </a></li>
                        <li><a href="team.html">Volunteer</a></li>
                        <li>Volunteer Profile</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Volunteer Details Section Start -->
        <section class="team-details-wrap ptb-100">
            <div class="container">
                <div class="row gx-5">
                    <div class="col-lg-8 order-lg-1 order-2">
                        <div class="team-desc">
                            <h1>Kevin Thompson Biography</h1>
                            <p>With a passion for navigating the business world, Kevin Thompson brings a wealth of
                                experience in business consulting, negotiation and management. He has successfully
                                addressed challenges in various sectors and industries, such as energy, health,
                                education and environment. He is also skilled in team building, client satisfaction and
                                project delivery.</p>
                            <p>His journey includes working with Climate Action Frontiers, a community-based
                                organization that promotes sustainable initiatives and advocates for eco-friendly
                                practices. He has participated in several events and projects, such as fundraising for
                                seedlings, volunteering in tree planting, donating for recycle bins, cleaning city
                                rivers and supporting clean water projects. He believes that these actions contribute to
                                the global effort to combat climate change.</p>

                            <h3>Skills</h3>
                            <p>Kevin's skill set includes:</p>
                            <div class="progressbar-wrap">
                                <div class="progress-bar" data-percentage="70%">
                                    <h4 class="progress-title-holder">
                                        <span class="progress-title">Negotiation</span>
                                        <span class="progress-number-wrapper">
                    <span class="progress-number-mark">
                        <span class="percent">70%</span>
                    </span>
                </span>
                                    </h4>
                                    <div class="progress-content-outter">
                                        <div class="progress-content">
                                            <div class="amet"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-bar" data-percentage="80%">
                                    <h4 class="progress-title-holder clearfix">
                                        <span class="progress-title">Consultancy</span>
                                        <span class="progress-number-wrapper">
                    <span class="progress-number-mark">
                        <span class="percent">80%</span>
                    </span>
                </span>
                                    </h4>
                                    <div class="progress-content-outter">
                                        <div class="progress-content"></div>
                                    </div>
                                </div>
                                <div class="progress-bar" data-percentage="85%">
                                    <h4 class="progress-title-holder clearfix">
                                        <span class="progress-title">Management Experience</span>
                                        <span class="progress-number-wrapper">
                    <span class="progress-number-mark">
                        <span class="percent">85%</span>
                    </span>
                </span>
                                    </h4>
                                    <div class="progress-content-outter">
                                        <div class="progress-content"></div>
                                    </div>
                                </div>
                            </div>
                            <p>His expertise and skill lies not only in crafting elegant algorithms but also in developing sustainable solutions that leave a positive impact. Beyond the digital realm, Kevin's knack for strategic thinking has made him a key player in the intersection of technology and environmentalism, navigating complex challenges with innovative solutions. In the ever-evolving landscape of climate action, Kevin stands as a beacon of technological ingenuity and environmental responsibility.</p>
                            <h3>Qualification</h3>
                           <p>Kevin holds a degree in Business Administration from the University of Nairobi and a
                                certificate in Climate Change Leadership from the African Institute of Development
                                Studies. He is also fluent in English, Swahili and French. He is currently looking for
                                new opportunities and challenges in the field of climate action and social
                                entrepreneurship.</p>
                            <p>You can download his <a href="{% static 'app/assets/img/team/file.pdf' %}" class=""><strong>resume here </strong> </a> or contact him via email or phone. You can also follow
                                him on his social media profiles here.</p>
                            <div class="row progess-bar-item">
                                <div class="col-md-3 col-6">
                                    <div class="single-skill">
                                        <div class="circlechart" data-percentage="85">
                                            <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <circle class="circle-chart__background" cx="16.9" cy="16.9"
                                                        r="15.9"></circle>
                                                <circle class="circle-chart__circle" stroke-dasharray="92,100" cx="16.9"
                                                        cy="16.9" r="15.9"></circle>
                                                <g class="circle-chart__info">
                                                    <text class="circle-chart__percent" x="17.9" y="20">85%</text>
                                                </g>
                                            </svg>
                                        </div>
                                        <p>Team Management</p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-6">
                                    <div class="single-skill">
                                        <div class="circlechart" data-percentage="70">
                                            <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <circle class="circle-chart__background" cx="16.9" cy="16.9"
                                                        r="15.9"></circle>
                                                <circle class="circle-chart__circle" stroke-dasharray="92,100" cx="16.9"
                                                        cy="16.9" r="15.9"></circle>
                                                <g class="circle-chart__info">
                                                    <text class="circle-chart__percent" x="17.9" y="20">70%</text>
                                                </g>
                                            </svg>
                                        </div>
                                        <p>Client Satisfaction</p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-6">
                                    <div class="single-skill">
                                        <div class="circlechart" data-percentage="90">
                                            <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <circle class="circle-chart__background" cx="16.9" cy="16.9"
                                                        r="15.9"></circle>
                                                <circle class="circle-chart__circle" stroke-dasharray="92,100" cx="16.9"
                                                        cy="16.9" r="15.9"></circle>
                                                <g class="circle-chart__info">
                                                    <text class="circle-chart__percent" x="17.9" y="20">90%</text>
                                                </g>
                                            </svg>
                                        </div>
                                        <p>Successful Project</p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-6">
                                    <div class="single-skill">
                                        <div class="circlechart" data-percentage="75">
                                            <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <circle class="circle-chart__background" cx="16.9" cy="16.9"
                                                        r="15.9"></circle>
                                                <circle class="circle-chart__circle" stroke-dasharray="92,100" cx="16.9"
                                                        cy="16.9" r="15.9"></circle>
                                                <g class="circle-chart__info">
                                                    <text class="circle-chart__percent" x="17.9" y="20">75%</text>
                                                </g>
                                            </svg>
                                        </div>
                                        <p>Finished Events</p>
                                    </div>
                                </div>
                            </div>
                            <p> Kevin is a staunch advocate for climate action, firmly convinced that there are numerous avenues for making a positive impact. He recognizes the various strategies available, but he contends that many initiatives have suffered alterations—whether through misguided policies or inconsistent efforts. Kevin injects his environmental ethos with a skillful blend of technological innovation, navigating the climate action frontier with a commitment to sustainability.</p>
                        </div>

                    </div>
                    <div class="col-lg-4 order-lg-2 order-1">
                        <div class="sidebar style2">
                            <div class="sidebar-widget style2">
                                <div class="profile-widget">
                                    <img src="{% static 'app/assets/img/team/single-team-1.jpg' %}" alt="Image">
                                    <a href="{% static 'app/assets/img/team/file.pdf' %}" class="btn style1">Download Resume</a>
                                </div>
                            </div>
                            <div class="sidebar-widget">
                                <div class="project-info-item-wrap">
                                    <div class="project-info-item">
                                        <h6>Name:</h6>
                                        <span>Kevin Thompson</span>
                                    </div>
                                    <div class="project-info-item">
                                        <h6>Email:</h6>
                                        <span>28 Jul, 2022</span>
                                    </div>
                                    <div class="project-info-item">
                                        <h6>Date Of Birth:</h6>
                                        <span>Jul 20, 1998</span>
                                    </div>
                                    <div class="project-info-item">
                                        <h6>Phone:</h6>
                                        <a href="tel:+9901236578">+990-123-6578</a>
                                    </div>
                                    <div class="project-info-item">
                                        <h6>Website:</h6>
                                        <a href="{% url 'home' %}">https://www.climateaction Frontiers.com</a>
                                    </div>
                                    <div class="project-info-item">
                                        <h6>Social Profile:</h6>
                                        <ul class="social-profile list-style style2">
                                            <li>
                                                <a href="https://facebook.com">
                                                    <i class="ri-facebook-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com">
                                                    <i class="ri-twitter-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://linkedin.com">
                                                    <i class="ri-linkedin-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://pinterest.com">
                                                    <i class="ri-pinterest-line"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Volunteer Details Section End -->

    </div>
    <!-- Content wrapper end -->

{% endblock %}