{% extends 'layouts/master.html' %}
{% load static %}


{% block title %}
	team
{% endblock %}



{% block content %}
            <!-- Content Wrapper Start -->
            <div class="content-wrapper">

                <!-- Breadcrumb Start -->
                <div class="breadcrumb-wrap bg-f br-1">
                    <div class="container">
                        <div class="breadcrumb-title">
                            <h2>Volunteer Profile</h2>
                            <ul class="breadcrumb-menu list-style">
                                <li><a href="home.html">Home </a></li>
                                <li><a href="team.html">Volunteer</a></li>
                                <li>Volunteer Profile</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Breadcrumb End -->

                <!-- Volunteer Details Section Start -->
                <section class="team-details-wrap ptb-100">
                    <div class="container">
                        <div class="row gx-5">
                            <div class="col-lg-8 order-lg-1 order-2">
                                <div class="team-desc">
                                    <h1>Kevin Thompson Biography</h1>
                                    <p>Ultrices conubia vehicula malesuada. Eros commodo a duis accumsan vestibulum adipiscing hendrerit risu sfel eros. lobortis viverra non justo semper semper rutrum ad risus felis eros. Cursus libero viverra tempus net diam vestibulum Semper est cursus viverra lectus nibh Eros commodo a duis accumsan vestibulum adipiscing hendrerit adipis Cursus libero viverra tempus semper semper rutrum ad risus felis.</p>
                                    <p>Conubia vehicula malesuada. Eros commodo a duis accumsan vestibulum adipiscing hendrerit risu sfel eros lobortis viverra non justo semper semper rutrum. </p>
                                    <h3>Skills</h3>
                                    <p></p>
                                    <div class="progressbar-wrap">
                                        <div class="progress-bar" data-percentage="70%">
                                            <h4 class="progress-title-holder">
                                                <span class="progress-title">Negotiation</span>
                                                <span class="progress-number-wrapper">
                                                    <span class="progress-number-mark">
                                                        <span class="percent"></span>
                                                    </span>
                                                </span>
                                            </h4>
                                            <div class="progress-content-outter">
                                                <div class="progress-content">
                                                    <div class="amet"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-bar" data-percentage="80%">
                                            <h4 class="progress-title-holder clearfix">
                                                <span class="progress-title">Consultancy</span>
                                                <span class="progress-number-wrapper">
                                                    <span class="progress-number-mark">
                                                        <span class="percent"></span>
                                                    </span>
                                                </span>
                                            </h4>
                                            <div class="progress-content-outter">
                                                <div class="progress-content"></div>
                                            </div>
                                        </div>
                                        <div class="progress-bar" data-percentage="85%">
                                            <h4 class="progress-title-holder clearfix">
                                                <span class="progress-title">Management Experience</span>
                                                <span class="progress-number-wrapper">
                                                    <span class="progress-number-mark">
                                                        <span class="percent"></span>
                                                    </span>
                                                </span>
                                            </h4>
                                            <div class="progress-content-outter">
                                                <div class="progress-content"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Conubia vehicula malesuada. Eros commodo a duis accumsan vestibulum adipiscing hendrerit risus felis eros lob ortis viverra non justo semper semper rutrum ad risus felis eros. Cursus libero viverra tempus net diam vestibulum Semper est cursus viverra lectus nibh Eros commodo a duis accumsan.</p>
                                    <h3>Qualification</h3>
                                    <p>Ultrices conubia vehicula malesuada. Eros commodo a duis accumsan vestibulum adipiscing hendrerit risus felis eros non justo semper semper rutrum ad risus felis eros. Cursus libero viverra tempus net diam vestibulum Semper est cursus viverra lectus nibh Eros commodo a duis accumsan vestibulum adipiscing hendrerit adipis Cursus libero viverra temp semper semper rutrum.</p>
                                    <div class="row progess-bar-item">
                                        <div class="col-md-3 col-6">
                                            <div class="single-skill">
                                                <div class="circlechart" data-percentage="85">
                                                    <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
                                                        <circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle>
                                                        <circle class="circle-chart__circle" stroke-dasharray="92,100" cx="16.9" cy="16.9" r="15.9"></circle>
                                                        <g class="circle-chart__info">  
                                                                <text class="circle-chart__percent" x="17.9" y="20">85%</text>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <p>Team Management</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-6">
                                                <div class="single-skill">
                                                    <div class="circlechart" data-percentage="70">
                                                        <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
                                                            <circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle>
                                                            <circle class="circle-chart__circle" stroke-dasharray="92,100" cx="16.9" cy="16.9" r="15.9"></circle>
                                                            <g class="circle-chart__info">  
                                                                <text class="circle-chart__percent" x="17.9" y="20">70%</text>
                                                            </g>
                                                        </svg>
                                                    </div>
                                                    <p>Client Satisfaction</p>
                                                </div>
                                        </div>
                                        <div class="col-md-3 col-6">
                                            <div class="single-skill">
                                                <div class="circlechart" data-percentage="90">
                                                    <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
                                                        <circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle>
                                                        <circle class="circle-chart__circle" stroke-dasharray="92,100" cx="16.9" cy="16.9" r="15.9"></circle>
                                                        <g class="circle-chart__info">  
                                                            <text class="circle-chart__percent" x="17.9" y="20">90%</text>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <p>Successful Project</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-6">
                                                <div class="single-skill">
                                                    <div class="circlechart" data-percentage="75">
                                                        <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
                                                            <circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle>
                                                            <circle class="circle-chart__circle" stroke-dasharray="92,100" cx="16.9" cy="16.9" r="15.9"></circle>
                                                            <g class="circle-chart__info">  
                                                                <text class="circle-chart__percent" x="17.9" y="20">75%</text>
                                                            </g>
                                                        </svg>
                                                    </div>
                                                    <p>Finished Events</p>
                                                </div>
                                        </div>
                                    </div>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of lorem.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 order-lg-2 order-1">
                                <div class="sidebar style2">
                                    <div class="sidebar-widget style2">
                                        <div class="profile-widget">
                                            <img src="assets/img/team/single-team-1.jpg" alt="Image">
                                            <a href="assets/img/team/file.pdf" class="btn style1">Download Resume</a>
                                        </div>
                                    </div>
                                    <div class="sidebar-widget">
                                        <div class="project-info-item-wrap">
                                            <div class="project-info-item">
                                                <h6>Name:</h6>
                                               <span>Kevin Thompson</span>
                                            </div>
                                            <div class="project-info-item">
                                                <h6>Email:</h6>
                                               <span>28 Jul, 2022</span>
                                            </div>
                                            <div class="project-info-item">
                                                <h6>Date Of Birth:</h6>
                                               <span>Jul 20, 1998</span>
                                            </div>
                                            <div class="project-info-item">
                                                <h6>Phone:</h6>
                                               <a href="tel:+9901236578">+990-123-6578</a>
                                            </div>
                                            <div class="project-info-item">
                                                <h6>Website:</h6>
                                               <a href="home.html">https://www.clim.com</a>
                                            </div>
                                            <div class="project-info-item">
                                                <h6>Social Profile:</h6>
                                                <ul class="social-profile list-style style2">
                                                    <li>
                                                        <a href="https://facebook.com">
                                                            <i class="ri-facebook-fill"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com">
                                                            <i class="ri-twitter-fill"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://linkedin.com">
                                                            <i class="ri-linkedin-fill"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://pinterest.com">
                                                            <i class="ri-pinterest-line"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Volunteer Details Section End -->

            </div>
            <!-- Content wrapper end -->

          {% endblock %}