{% extends 'layouts/master.html' %}
{% load static %}


{% block title %}
	Terms of Service
{% endblock %}



{% block content %}

            <!-- Content Wrapper Start -->
            <!-- Content Wrapper Start -->
            <div class="content-wrapper">

                <!-- Breadcrumb Start -->
                <div class="breadcrumb-wrap bg-f br-1">
                    <div class="container">
                        <div class="breadcrumb-title">
                            <h2>Terms Of Service</h2>
                            <ul class="breadcrumb-menu list-style">
                                <li><a href="{% url 'home' %}">Home </a></li>
                                <li>Terms Of Service</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Breadcrumb End -->

                <!-- Terms Section start -->
                <section class="terms-wrap ptb-100 pb-75">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-10 offset-xl-1">
                                <div class="single-terms">
                                    <h3>Legal Disclaimer: </h3>
                                    <p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, subscribe to the newsletter, fill out a form, and in connection with other <strong>activities</strong>, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number, <a href="{% url 'home' %}">company name</a>. We will collect personal identification information from Users only if they voluntarily consent such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>
                                </div>
                                <div class="single-terms">
                                    <h3>Credit Reporting Terms of Service</h3>
                                    <p>By using our Service, you, in continuation to the aforesaid also specifically agree and accept to be bound by the following:</p>
                                    <ol>
                                        <li>You hereby accept and agree that Climate Change Frontiers shall access your credit score and credit information report.</li>
                                        <li>You hereby authorize Climate Change Frontiers  to share your personal details (as provided by you) with CICs to verify your identity</li>
                                        <li>In the event, the details submitted by you with Climate Change Frontiers do not match the information existing with CICs for any reason, whatsoever, CICs may right to reject your request </li>
                                        <li>You accept and agree that by submitting your details on Climate-Action Frontiers’s website or mobile app and requesting your credit score & credit information report through Climate-Action Frontiers, you are providing "your express consent” to Climate-Action Frontiers to collect, receive, obtain, and/or fetch on your behalfWeb Development very creative to do something , mauris ut in vestibulum. Consectetur phasellus ultrices fusce nibh justo, venenatis, amet to all design.</li>
                                    </ol>
                                </div>
                                <div class="single-terms">
                                    <h3>Ownership of Site Agreement to Terms of Use</h3>
                                    <p>Climate Change Frontiers reserves the right at any time, at its sole discretion, to change or otherwise modify/ amend the Terms without any prior notice, in which case, your continued access/ use of this service shall signify your assent/ratification to the updated or modified Terms. Therefore, it is advisable/recommended that you return to this page periodically to review the version of the Terms in force. If you object to the Terms or any subsequent modifications/ amendments to the Terms or decide not to avail the Service in any way, your only recourse shall be to immediately terminate usage of the Service.</p>
                                </div>
                                <div class="single-terms">
                                    <h3>Provision of Services</h3>
                                    <p>You hereby accept and agree that Climate Change Frontiers shall access your credit score and credit information report from CICs as your authorised representative and perpetually hold, retain, store, use, analyze, aggregate, your credit score and credit information report for the following purposes:</p>
                                    <ul class="content-feature-list style2 list-style ">
                                        <li><i class="ri-check-double-line"></i> To present an overview of your credit score and credit information report obtained from the CICs.</li>
                                        <li><i class="ri-check-double-line"></i> To enable you know the information accessed by the credit institutions while considering the request for fresh credit facilities</li>
                                        <li><i class="ri-check-double-line"></i>To enable you to understand your credit score and credit information report,</li>
                                        <li><i class="ri-check-double-line"></i>To assist you rectify and remove negative observations from your credit information report </li>
                                        <li><i class="ri-check-double-line"></i>To suggest actions that you could take for improving and/ or maintaining your credit score</li>
                                        <li><i class="ri-check-double-line"></i>Highly professional administration.
                                        </li>
                                    </ul>
                                </div>
                                <div class="single-terms">
                                    <h3> Limitation of Liability</h3>
                                    <p>In the absence of negligence, bad faith or willful misconduct, none of the Sponsor, the Administrator, nor the Authorized Participant shall be liable to each other or to any other person, including any party claiming by, through or on behalf of the Authorized Participant, for any losses, liabilities, damages, costs or expenses arising out of any error in data or other information provided to any of them by each other or any other person or out of any interruption or delay in the electronic means of communications used by them.

                                    </p>
                                </div>
                                <div class="single-terms">
                                    <h3> Accounts, Passwords and Security</h3>
                                    <p>You agree to keep confidential all passwords, user IDs, IP addresses, and other account identifiers and are solely responsible for any liability or damages resulting from your failure to maintain that confidentiality.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Terms Section end -->

            </div>
            <!-- Content wrapper end --> Content wrapper end -->
{% endblock %}
